<footer>
<div class="footer">
<div class="logo"> <img src="https://raw.githubusercontent.com/gasb150/game_style/feature-v2/app/assets/images/logo_footer.jpg"> </div>
<div class= "privacy"> <p class="cl-og">Privacy Policy Terms & Conditions <span class="cl-lg">Copyright 2021. All rights reserved.</span></p> </div>
<div> Contact with us:
<span class="iconify cl-og" data-icon="ant-design:twitter-circle-filled" data-inline="false"></span> 
<span class="iconify cl-og" data-icon="entypo-social:instagram-with-circle" data-inline="false"></span>
<span class="iconify cl-og" data-icon="entypo-social:facebook-with-circle" data-inline="false"></span>
</div>
</div>
</footer>
<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
  </body>
</html>
