// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$primary-color-dark: #f46326;
$primary-color: #f9a02e;
$primary-color-light: #ffffff;
$primary-color-text: #212121;
$primary-color-attenuated: #736e69;

.new_article{
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
   .field{
    display: grid;
    grid-template-columns: 2fr 8fr;
    width: 90%;

    .category_select{
        align-self: center;
        font-size: 2vw;
    }
   }
    .form-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    .required{
        font-size: 3vw;
       
    }
    .input{
        
        .string,  textarea[name="article[text]"]{
            height: auto;
            width: 30vw;
            margin: 5%;
            
        }
        textarea[name="article[text]"]{
            height: 30vw;
            width: 60vw;
        }
        
    }
    .article_title, .article_text{
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        label[for=article_text], label[for=article_title], .upload-title{
            align-items: center;
            text-align: center;
            margin: 4%  auto 1% auto;
            color: $primary-color-light;
            border-bottom: $primary-color-dark solid 5px;
            color: $primary-color-dark;
            width: auto;
        }
        
    }
    .upload-title{
        color: $primary-color-light;
        border-bottom: $primary-color-dark solid 5px;
        color: $primary-color-dark;
        width:auto;
        text-align: center;
        margin: 5% auto;
        font-size: 3vw;
    }
    .form-control{
        color: $primary-color-light;
    }
  
 
}
// .category_select{
//     position: absolute;
//     display: flex;
//     flex-direction: column;
//     top: 40vw;
//     left: 4vw;
//     font-size: 2.5vw;
// }
.button{
    font-size: 2.5vw;
    background-color: $primary-color-dark;
    border: $primary-color-dark 1px solid;
    width: 100%;
}
}