// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$primary-color-dark: #f46326;
$primary-color: #f9a02e;
$primary-color-light: #ffffff;
$primary-color-text: #212121;
$primary-color-enphasis: #e54020;
$primary-color-attenuated: #736e69;
.line_color_flex{
    display: flex;
    height: 0.5vw;
}
.line_color_r{
    background-color: $primary-color-enphasis;
    width: 20%;
}
.line_color_g{
    background-color: $primary-color-attenuated;
    width: 80%;
}
.cl-yl{
    color: $primary-color;
}
.main_page{
    display: grid;
    .background{
        
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        min-height: 400px;
    }
}
.category_grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    .article_image{
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: content-box;
        background: linear-gradient(rgba(22, 21, 21, 0.89), rgba(255,255,255,.5));
        width: (100/5)vw;
        height: 18vw;
        border: 5px solid transparent;

        div{
         
            display: flex;
            box-sizing:border-box;
            flex-direction: column;
            justify-content: space-between;
            height: 90%;

            a {
                text-decoration: none;
                border-bottom: yellow 2px solid; }
              
        }
    }
    .article_image:hover {
        box-sizing: content-box;
        border: 5px solid $primary-color-dark;      
    }
}


.articles_cat_grid{

    
    display: grid;
    grid-template-columns: repeat(2,1fr);

    .article{
        display: flex;
        .image_article {
            width: 50%;
            overflow: hidden;
            height: 20vw;
            max-width: 25vw;
            box-sizing: border-box
           ;
            img{
                min-height:100%; min-width: 100%; object-fit: cover; 
                position: relative;
                top: -100px;
            }         

        }
        .info_article{
            height: 20vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-sizing: border-box;
            padding: 2%;            
            width: 25vw;
            background-color: $primary-color-light;
            .cat-name{
                border-bottom: 2px solid $primary-color;
                width: min-content;
            }
        }
    }
}
.hide{
    display: none;
}


@media only screen and (max-width: 968px) { 
    .articles_cat_grid{
        grid-template-columns: repeat(1, 1fr);
        .article{
           
            border: 1px solid black;
            .image_article {
                width: 50%;
                max-width: 50vw; 
            }
            .info_article{        
                width: 50vw;
            }
        }
        .revert-flex .article{
            display: flex;
            flex-direction: row-reverse;
            .image_article {
                width: 50%;
              
                right:20px;
                top:0px;
                overflow: hidden;

            }
            .info_article{        
                width: 47.5vw;
            }
        }
        
    }
    .show{
        display: none;
    }
    .hide{
        display: block;
    }
}

@media only screen and (max-width: 723px) { 
    .category_grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    .article_image{
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: content-box;
        background: linear-gradient(rgba(22, 21, 21, 0.89), rgba(255,255,255,.5));
        width: auto;
        height:50vw;
        border: 5px solid transparent;
    }
    
    }
    .articles_cat_grid {
    .article{

            display: grid;
            grid-template-columns: 1fr;
            .image_article, .info_article{
                width: 100%;
                box-sizing: border-box;
                max-width: 100%;
                padding: 2% 4%;
                height: 90vw;
                h2,p{
                    font-size: 4vw;
                }
                
            }
            .image_article img{
                left: -19px;
            }

    }
        
    }
}
