
$primary-color-dark: #f46326;
$primary-color: #f9a02e;
$primary-color-light: #fff;
$primary-color-text: #212121;
$primary-color-enphasis: #e54020;
$primary-color-attenuated: #736e69;

.line_color_flex {
  display: flex;
  height: 0.5vw;
}

.line_color_r {
  background-color: $primary-color-enphasis;
  width: 20%;
}

.line_color_g {
  background-color: $primary-color-attenuated;
  width: 80%;
}

.cl-yl {
  color: $primary-color;
}

.main_page {
  display: grid;
  grid-template-rows: 2fr 1fr;
  .most_voted{
    display: flex;
   
  .background {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    width: 75%;
    min-height: 100%;
  }

  #weather{
    color: white;
    box-sizing: border-box;
    width: 25%;
    background-color: #f46326;
    background-image: 
      linear-gradient(
                              rgba(0, 0, 0, 0.5),
                              rgba(0, 0, 0, 0.5)), 
                              asset_url("minecraft-529464_1280.jpg")
                            
                              
    } 
    

    #cityName{
      font-size: 1.5rem;
      padding: .5rem;
    }

    .icons{
      display: flex;
      padding-top: 30%;
      margin-left: 10%;

      #cloud .w-icon{
        font-size: 10rem;
      }

      #temp{
        position: relative;
        right: 2.5rem;
        bottom: 1rem;
        font-size: 2rem;
      }
      #humidity{
        position: relative;
        right: 6rem;
        bottom: -8rem;
       
        div{
          font-size: 2rem;
          display: flex;
        p{
          font-size: 2rem;
        }
        }
      }
    }
  }

}

.category_grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  .article_image {
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    height: 18vw;
    border: 5px solid rgba(0, 0, 0, 0.5);

    div {
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      justify-content: space-between;
      height: 90%;

      a {
        text-decoration: none;
        border-bottom: yellow 2px solid;
      }
    }
  }

  .article_image:hover {
    box-sizing: border-box;
    border: 5px solid $primary-color-dark;
  }
}

.articles_cat_grid {
  width: 98%;
  overflow-x: hidden;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .article {
    display: flex;

    .image_article {
      width: 50%;
      overflow: hidden;
      height: 20vw;
      max-width: 25vw;
      box-sizing: border-box;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .info_article {
      height: 20vw;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 2%;
      max-width: 25vw;
      width: 50%;
      background-color: $primary-color-light;

      .cat-name {
        border-bottom: 2px solid $primary-color;
        width: min-content;
      }

      p {
        font-size: 12px;
      }
    }
  }
}

.hide {
  display: none;
}

@media only screen and (max-width: 968px) {


 .main_page .most_voted .icons{
    #cloud .w-icon {
      font-size: 6rem;
    }

    #temp{
      position: relative;
      right: 2.5rem;
      bottom: 1.5rem;
      font-size: 1.5rem;
    }
    #humidity{
      position: relative;
      right: 3rem;
      bottom: -6rem;
     
      div{
        font-size: 1.5rem;
        display: flex;
      p{
        font-size: 1.5rem;
      }
      }
    }
    }
  
    
  .articles_cat_grid {
    grid-template-columns: repeat(1, 1fr);

    .article {
      border: 1px solid black;

      .image_article {
        width: 50%;
        height: 30vw;
        max-width: 50vw;
      }

      .info_article {
        height: 30vw;
        width: 50vw;
      }
    }

    .revert-flex .article {
      display: flex;
      flex-direction: row-reverse;

      .image_article {
        width: 50%;
        right: 20px;
        top: 0;
        overflow: hidden;
      }

      .info_article {
        width: 47.5vw;
      }
    }
  }

  .show {
    display: none;
  }

  .hide {
    display: block;
  }
}

@media only screen and (max-width: 723px) {

 
  
  .main_page {
    grid-template-rows: none;

    .background {
      min-height: 400px;
    }
   
 .most_voted{
      #cityName{
        font-size: 1.2rem;
        padding: .5rem;
      }
  
      .icons{
        flex-direction: column;
        padding-top: 5%;
        margin-left: 10%;
  
        #cloud .w-icon{
          font-size: 2rem;
        }
  
        #temp{
          position:initial;
   
          font-size: 1rem;
        }
        #humidity{
          position:initial;
      
         
          div{
            font-size: 1rem;
            display: flex;
          p{
            font-size: 1rem;
          }
          }
        }
      }
    }
  }

  .category_grid {
    grid-template-columns: repeat(1, 1fr);

    .article_image {
      width: auto;
      height: 50vw;
    }
  }

  .articles_cat_grid {
    .article {
      display: grid;
      grid-template-columns: 1fr;

      .image_article,
      .info_article {
        width: 100%;
        box-sizing: border-box;
        max-width: 100%;
        height: 90vw;

        h2,
        p {
          font-size: 4vw;
        }
      }

      .image_article img {
        left: -19px;
      }
    }
  }
}
