$primary-color-dark: #f46326;
$primary-color: #f9a02e;
$primary-color-light: #dcedc8;
$primary-color-text: #212121;

h1, h2{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 700;
}
p{
    font-size: 12px;
}
h1, h2, p{
    padding: 1%;
}
a{
    text-decoration: none;
    color: $primary-color-text;
}

.cl-og{
    color: $primary-color-dark;
}
.cl-lg{
    color: $primary-color-light
}
