$primary-color-dark: #f46326;
$primary-color-light: #fff;

.log_user,
.singup_user {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .log-in-title,
  .sing-up-title {
    margin-bottom: 2%;
    font-size: 5rem;
    border-bottom: 5px solid $primary-color-dark;
  }

  .optional {
    font-size: 18px;
  }

  .required {
    font-size: 15px;
  }

  .user_email,
  .user_password,
  .user_remember_me,
  .form-actions,
  .user_name,
  .user_username,
  .user_password_confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $primary-color-light;

   
  }
}
.btn, .button {
  font-size: 15px;
  padding: .5rem 1rem;
  background: $primary-color-dark;
  border: $primary-color-dark;
}

.singup_user {
  font-size: 3vw;

  .sing-up-title {
    font-size: 3vw;
  }
}
