<h1>asas</h1>
<div style ="background: black; color: white">
<%= most_voted(@most_voted) %>
</div>
<% @categories_priory.each do |category| %>
    <ul style="border: 5px solid black">
    <% if !category.articles.first.nil? %>
    <%# cloudinary_url(category.articles.order_by_most_recent.first.image.key, options = {}) %>
    <li>article img:  <img src="<%= cloudinary_url(category.articles.ordered_by_most_recent.first.image.key, options = {}) %>"> </li> 
    <li>article name:     <%= category.articles.ordered_by_most_recent.first.title %></li>
    <% end %>
     <li><%= link_to category.name, category_path(category) %></li></a>
    </ul>
<% end %>