<div class ="line_color_flex">
<div class="line_color_r"></div>
<div class="line_color_g"></div>
</div>
<div class="main_page">
  <div class="most_voted">
    <%= most_voted(@most_voted) %>
  </div>
  <div class="category_grid">
  <%= categories_index(@categories_priory) %> 
</div>
</div>